.row {
    margin-bottom: 20px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

[lass*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    /*background-color: #eee;*/
    /*background-color: rgba(86,61,124,.15);*/
    /*border: 1px solid #ddd;*/
    /*border: 1px solid rgba(86,61,124,.2);*/
}

html {
    font-family: 'pt_sansregular';
    /*font-family: 'PT Sans', sans-serif;*/
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
}

p {
    -webkit-margin-after: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    display: block;
}

ul {
    line-height: 200%
}

h1.main-title {
    font-size: 3.125em;
    font-weight: 700;
    line-height: 1.3;
}

#container_title {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 1.875em;
    line-height: 1.3;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3;
}

h3 {
    font-size: 1.6em;
}

h4 {
    color: #007BFF;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
}

h5 {
    color: #FFF;
    font-size: 0.8em;
    text-transform: uppercase;
}

h6 {
    color: #666;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}

a {
    color: #999;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #007bff;
}

detalle-noticia {
    font-family: 'PT Serif', serif;
    line-height: 1.7;
}

intertitulos {
    font-size: 1.875em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.3;
}

.btn,
.btn:hover,
.btn:active {
    border-radius: 0;
    font-size: 0.8em;
}

.btn {
    background-color: #222;
    color: #f3f3f3;
}

#container_definition {
    background-color: #f3f3f3;
    font-size: 1.25em;
    width: 100%;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        height: 100%;
        height: auto !important;
        min-height: 100%;
        width: 1200px;
        /*margin: 0 auto -4em;*/
    }
}


/*
 * Masthead for nav
 */

.blog-masthead {
    /*background-color: #428bca;*/
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    height: 160px;
}

#heading {
    margin-top: 50px;
}

#logo {
    background: url(img/logo.png) no-repeat center center;
    height: 112px;
    margin-top: 20px;
    padding: 0;
}

.widget_search {
    display: -webkit-inline-box;
    margin-top: 30px;
    position: absolute;
    right: 0;
}


/* Nav links */

.blog-nav a {
    color: #222;
    top: 100px;
}

.lang-nav a {
    color: #222;
    top: 0px;
}


/*.blog-nav a:hover{
  padding: 15px;
 }
*/

.blog-nav-item {
    display: inline-block;
    position: relative;
    /*  font-weight: 500;
*/
    /*color: #cdddeb;*/
}

.nav_container {
    padding: 0;
}

.navbar-collapse {
    padding-right: 0;
}

.navbar-nav {
    float: right;
    margin-top: -8px;
}

.nav > li > a {
    padding: 12px 10px;
}


/* Active state gets a caret at the bottom */

.blog-nav .active:after {
    border: 3px solid;
    content: " ";
    height: 5px;
    position: absolute;
    top: 162px;
    vertical-align: middle;
    width: 100%;
    /*  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;*/
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}


/* Sidebar modules for boxing content */

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 1em;
}


/* Pagination */

.pager {
    margin-bottom: 1em;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-top: 16px;
}

.blog-post-title {
    margin-top: 16px;
    text-align: center;
}

.blog-post-meta {
    margin-top: 16px;
    color: #999;
}


/*
 * Footer


 */


/*.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -4em;*/


/*}*/

.blog-footer {
    /*border-top: 1px solid #e5e5e5;*/
    background-color: #222;
    color: #999;
    height: 300px;
    padding: 40px 0;
    text-align: center;
}

.blog-footer p:last-child {
    margin-bottom: 1em;
}

#footer-links {
    text-align: center;
}

#footer-share {
    float: right;
    margin-top: -220px;
    margin-right: 40px;
}


/*
 * Custom Styles
 *
 */

.donor-partners {
    width: 100%;
    height: 290px;
    background-color: #f3f3f3;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.showcase {
    border-bottom: #ccc 1px solid;
    color: #fff;
    height: 650px;
    margin-bottom: 1em;
    padding: 100px 20px;
    text-align: center;
    width: 100%;
}

.showcase h1 {
    font-size: 55px;
    padding-bottom: 20px;
    color: #fff;
}

.showcase p {
    font-size: 20px;
    margin-bottom: 1em;
}

.boxes {
    background: #fff;
    margin-bottom: 1em;
    width: 100%;
}

.box .fa {
    font-size: 45px !important;
    margin-bottom: 1em;
}

.box {
    border: #ccc 1px solid;
    height: 240px;
    padding: 15px;
}

.tag-black {
    border-bottom: 25px solid #404040;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-iki {
    border-bottom: 25px solid #ED1B23;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-ciat {
    border-bottom: 25px solid #008957;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-pik {
    border-bottom: 25px solid #EE7E33;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-iiap {
    border-bottom: 25px solid #F2A04D;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-cipav {
    border-bottom: 25px solid #0D4A8B;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-unalm {
    border-bottom: 25px solid #18340F;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-uniamaz {
    border-bottom: 25px solid #3E7C06;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.tag-sinchi {
    border-bottom: 25px solid #A12820;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    padding: 0 10px;
}

.textwidget {
    display: inline;
}

.donor-partners {
    width: 100%;
    height: 290px;
    background-color: #f3f3f3;
}

.donor-partners .fa {
    font-size: 45px !important;
    margin-bottom: 1em;
}

.post-thumb img {
    width: 100%;
    height: 240px;
    margin-bottom: 1em;
}

.photo-thumb img {
    height: 240px;
    margin-bottom: 1em;
    width: 100%;
}

.news-thumb img {
    width: auto;
    height: 100px;
    margin-bottom: 1em;
}

.comments {
    border: 1px #ccc solid;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 10px;
}

.comments h3,
.comments h2 {
    background: #428bca;
    color: #fff;
    padding: 5px;
}

.comment-body {
    border: #ccc solid 1px;
    margin-bottom: 1em;
    padding: 20px 10px;
}

.comment-meta {
    background: #428bca;
    color: #fff;
    overflow: auto;
    padding: 10px;
}

.comment-meta a {
    color: #fff;
}

.comment-meta img {
    float: left;
    margin-right: 10px;
}

.comment-reply-link {
    background: #428bca;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 4px;
    border: #ccc solid 1px;
    margin-bottom: 1em;
}

.post-gallery {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.post-gallery h2 {
    color: #fff;
}


/*flickr gallery*/

img.gallery_image {
    width: 32%;
    margin-right: 3px;
}


/*logos*/

#container_donorpartners {
    background-color: #f3f3f3;
    /*width: 100%;*/
}

#donorpartners {
    background-color: #f3f3f3;
}

.donorpartners {
    background-color: #fff;
}

.logos {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 10px;
    margin-top: 20px;
}

.logos:hover {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#logo-bund {
    height: 90px;
}

#logo-ciat {
    height: 55px;
}

#logo-pik {
    height: 53px;
}

#logo-iiap {
    height: 81px;
}

#logo-cipav {
    height: 73px;
}

#logo-unalm {
    height: 36px;
}

#logo-uniamaz {
    height: 65px;
}

#logo-sinchi {
    height: 99px;
}


/*.cgspace {
    display:none;
}*/


/* Search widget*/

.screen-reader-text {
    display: none;
}


/* 03. SPEAKERS SETTINGS ============================================ */

#speakers {
    padding: 60px 0;
    text-align: center;
}

#speakers p {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    padding: 20px 0 60px;
}

#speakers h3 {
    padding: 0 0 15px;
    font-family: 'norwester';
    font-size: 36px;
    text-transform: uppercase;
}

#speakers h4 {
    margin-top: 0px;
    font-size: 32px;
    font-weight: 700;
}

#speakers h4 span {
    display: block;
    position: relative;
    left: -40px;
    top: 10px;
    font-size: 20px;
    background: none;
    padding: 0;
}

#speakers img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 5px solid transparent;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);
    transition: all 0.1s ease-in;
}

#speakers img:hover {
    border: 5px solid #008957;
    position: relative;
    transition: all 0.1s ease-in;
    z-index: 10;
}

#speakers span {
    border-bottom: 25px solid #008957;
    border-left: 0px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    color: white;
    display: inline-block;
    height: 0px;
    left: -37px;
    padding: 2px 10px;
    position: relative;
    /*
    background: #008957;
    border-radius: 0 16px 16px 0;
    display: inline-block;
    font-size: 16px;
    left: -37px;
    padding: 8px 20px;
    position: relative;
    top: -64px;
    color: white;*/
}

#speakers h4 {
    color: #222;
}

#speakers h4 span {
    color: #222;
    background: transparent;
}


/* Member Image Hover Effect */

.hover_img {
    display: none
}

.member-profile:hover .unhover_img {
    display: none;
}

.member-profile:hover .hover_img {
    display: block;
}


/* Social Networks Meta */

#speakers li {
    display: inline-block;
    padding: 0 6px;
    font-size: 18px;
}

#speakers li a {
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in;
}

#speakers li a:hover {
    color: rgba(0, 0, 0, 0.7);
}


/* Rows Optimization */

#speakers .row2 {
    display: none;
}

.row1 .col-md-3,
.row2 .col-md-3 {
    padding-bottom: 40px;
}


/*********accordion****************/

#accordion .glyphicon {
    text-decoration: none;
    float: right;
}

#accordion .panel-heading {
    background-color: transparent;
}

#accordion .col-md-3 {
    vertical-align: middle;
}

#accordion .panel-title {
    font-style: normal;
}

#accordion .panel-title > strong {
    font-style: normal;
    font-size: 1.1em;
}


/* News GRID */

#gridcontainer {
    margin: 20px 0;
    width: 100%;
}

#gridcontainer h2 a {
    color: #77787a;
    font-size: 13px;
}

#gridcontainer .griditemleft {
    float: left;
    margin: 0 40px 40px 0;
    width: 278px;
}

#gridcontainer .griditemright {
    float: left;
    width: 278px;
}

#gridcontainer .postimage {
    margin: 0 0 10px 0;
}
